@import "../../helpers";

.carousel{
    height: 100vh;
    .carousel-fixed-item{
        &.top{
            top: 3em !important;
            left: 3em !important;
            right: 3em !important;
        }
    }
    .carousel-item{
        @extend .flex;
        @extend .vertical-center;
        @extend .horizontal-center;
        @extend .flex-column;
        color: white;
        &.slider-1{
            background: #c75c5c;
        }
        &.slider-2{
            background: #e0995e;
        }
        &.slider-3{
            background:  #4e5c73;
        }
        img{
            display: block;
            width: 80%;
            height: 200px;
            margin: 0 auto;         
        }
        h5{
            text-align: center;
        }
        p{
            text-align: justify;
            padding: 0 2em;
        }
    }
}