@import "../../helpers";
@import "../../mixin";

.carousel{
    height: 100vh;
    .carousel-fixed-item{
        &.top{
            top: 3em !important;
            left: 3em !important;
            right: 3em !important;
        }
    }
    .carousel-item{
        @extend .flex;
        @extend .vertical-center;
        @extend .horizontal-center;
        @extend .flex-column;
        color: white;
        &.slider-1{
            @include background("src/static/img/icons/slider1.png",#c75c5c);
        }
        h5{
            text-align: center;
        }
        p{
            text-align: justify;
            padding: 0 2em;
        }
    }
}