//Flex
.flex{
  display: flex;
  &.vertical-center{
    align-items: center;
  }
  &.horizontal-center{
    justify-content: center;
  }
  &.flex-column{
    flex-direction: column;
  }
}

.margin-top-1{
  margin-top: 1em;
}

.interline{
  margin: 0 1em;
  padding: 1em;
}